# a

In [8]:
import sys
sys.path.insert(1, 'D:\\Project\\tabint')

In [22]:
import tabint
from tabint.utils import *
from tabint.dataset import *
from tabint.feature import *
from tabint.pre_processing import *
from tabint.visual import *
from tabint.learner import *
from tabint.interpretation import *
from tabint.inference import *

In [23]:
import pandas as pd

In [26]:
df = pd.read_csv('hotel_bookings.csv')

In [28]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [32]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors

def background_gradient(s, m, M, cmap='PuBu', low=0, high=0):
    rng = M - m
    norm = colors.Normalize(m - (rng * low),
                            M + (rng * high))
    normed = norm(s.values)
    c = [colors.rgb2hex(x) for x in plt.cm.get_cmap(cmap)(normed)]
    return ['background-color: %s' % color for color in c]

In [43]:
df2

arrival_date_month,April,August,December,February,January,July,June,March,May,November,October,September
hotel,,,,,,,,,,,,
City Hotel,741414,1174523,350258,262228,211502,1242233,981595,472485,956348,409656,957114,945979
Resort Hotel,310077,506505,148488,123903,57141,483747,421302,214263,430818,110634,415506,490204

In [47]:
pd.crosstab

In [56]:
def crosstab(df, row, column, cmap=cm, **kagrs):
    df_crosstab = pd.crosstab(df[row], df[column], **kagrs)
    return df_crosstab.style.apply(background_gradient, m=df_crosstab.min().min(), M=df_crosstab.max().max(), cmap=cm)

In [57]:
crosstab(df, "hotel",  "arrival_date_month")